<section class="main">
<h2>Regular Section</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit massa id ligula faucibus luctus. Ut vel est vel magna vulputate ornare quis quis dolor. Aliquam a varius urna. Maecenas nec ipsum vel lacus tempus rhoncus. Aliquam vitae nisi et magna ultricies tempus. Quisque eget quam sed ex ornare lacinia. In urna enim, aliquet id volutpat ut, ultrices a ex. Mauris id efficitur justo. Morbi placerat leo sed ex elementum semper. Quisque nisi justo, volutpat eu quam sed, tempus maximus quam. Sed scelerisque tellus turpis, vel varius risus ornare sit amet. Integer interdum accumsan malesuada. Pellentesque magna nisi, aliquam ac risus quis, porttitor dapibus mauris. Duis urna ante, dictum congue auctor a, fringilla id tortor. Donec imperdiet ultrices hendrerit. Curabitur placerat elit non lectus varius finibus</p>
<button (click) ="goToAdmin()">Admin Only</button>
</section>
