<div class="container">
  
  <nav>
    <ul>
      <li><a [routerLink]="[ '/' ]">Role Based</a></li>
    </ul>
    <ul>
      <li *ngIf="!userStatus"><a [routerLink]="[ '/signup' ]">Signup</a></li> 
      <li *ngIf="!userStatus"><a [routerLink]="[ '/login' ]">Login</a></li>
      <li *ngIf="userStatus && userStatus.role === 'admin'"><a [routerLink]="[ '/admin' ]">admin</a></li>
      <li *ngIf="userStatus"><button class="logout" (click)="logout()">Logout</button></li>
      
    </ul>
  </nav>
  <header> 
    <div>
        <h1>Role Based <br/> Auth Demo </h1>
        <p>Powered by Angular 7 &amp; Firebase</p>
        <img src="../assets/612 [Converted].svg" />
    </div>  
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  </div>